<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for booking with us <%= @user.first_name %></h1>
    <p>
      You will receive another email in 1-2 hours if your booking is approved. We can also suggest a date/time you want if there is any issues with your booking 
    <br>
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>